<%- include('./frame/header.ejs') %>
<!-- SHOW ALL userS -->
<%- include('./frame/menu.ejs') %>
<style>
	.user {
		margin-bottom: 20px;
		height: 100px;
		overflow: hidden;
	}
	.user :hover {
		height: 100px;
		background-color: rgba(7, 73, 1, 0.9);
		color: aliceblue;
	}
</style>
<div id="main">
	<!-- <h1 class="text-center">Tsepa Insure</h1> -->

	<div>
		<a class="border m-3 col-sm-3 col-md-3 col-xs-3 btn btn-success" href="/register">New Client  <i class="bi bi-person-plus"></i></a>
		<%- include('./frame/search.ejs') %>
		<!-- <%- include('./frame/filter.ejs') %> -->
		<%- // include('./frame/categories.ejs') %>
	</div>
	<div id="results" class=" row"></div>
</div>

<script type="text/javascript" src="/javascripts/load_data.js"></script>
<%- include('./frame/footer.ejs') %>