<%- include('./frame/header.ejs') %>
<!-- SHOW ALL userS -->
<%- include('./frame/menu.ejs') %>
<div id="main">
	<h1 class="text-center">_Lesotho Diaspora_</h1>

	<div>
		<%- include('./frame/search.ejs') %>
		<%- include('./frame/filter.ejs') %>
		<%- // include('./frame/categories.ejs') %>
	</div>
	<div id="results" class=" row"></div>
</div>

<script>
	let category = '';
	let scrollCounter = 0;
	let retrive = false;

	let fetch_data = (cat) => {
		let sort, order;

		if (cat) {
			// console.log('cat');
			category = cat;
		} else {
			// console.log('!cat');
			category= category;
		}

		$('#sort').val() ? sort = $('#sort').val(): 0; 
		$('#order').val() ? order = $('#order').val(): 0; 
		console.log('  ', {category, sort, order})
		retrive = false;
		$.ajax({
			url: 'http://localhost:3000/filter-users/',
			type: 'GET',
			data: { category, sort, order, scrollCounter },
			success: (result) => {
				console.log('success', result, result.users.length);

				let result_arr = [];
				if (result.users.length) {
					scrollCounter == 0 ? $('#results').html(''):0;
					scrollCounter += 20;
					for (let i = 0; i < result.users.length; i++) {
						result_arr.push(`
							<div class="user col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="card">
									<div class="card-header">
										<a href="profile/${ result.users[i].id }">${ result.users[i].name } &nbsp ${ result.users[i].surname }</a>
									</div>
									<a href="profile/${ result.users[i].id }">
										<img class="card-img-top border border-1" alt="user image" src=${ result.users[i].user_image }>
										<div class="card-body">
											<div class="card-title">${ result.users[i].cell1 }</div>
											<p class="card-text">M ${ result.users[i].cell2 }</p>
										</div>
									</a>
								</div>
							</div>`);
					}
					retrive = true;
					$('#results').append(result_arr);
				}
				// selecting categories
				if (result.users.length == 0 && scrollCounter == 0) {
					retrive = false;
					$('#results').html(`<h3 class="text-center">No results :(</h3>`);
				}
			},
			error: (e) => {
				console.log('Error: ', e);
					$('#results').html(`<h2 class="text-center">Error reaching server :,(</h2>`, e);
				retrive = false;
			}
		});
	}
	
	let cat_hendle = (cat) => {
		scrollCounter = 0;
		fetch_data(cat);
	};
	$('#order, #sort').change((e) => {
		scrollCounter = 0;
		fetch_data('');
	});

	$(document).ready(() => fetch_data(''));

	$(document).scroll(() => {
		if ($(document).height() - $(document).scrollTop() < 2000 & retrive) {
			fetch_data('');
		}
	});
</script>
<%- include('./frame/footer.ejs') %>