<%- include('./frame/header.ejs') %>
<!-- SHOW ALL userS -->
<%- include('./frame/menu.ejs') %>
<div id="main">
	<h1 class="text-center">Tseap Insure</h1>

	<div>
		<%- include('./frame/search.ejs') %>
		<%- include('./frame/filter.ejs') %>
		<%- // include('./frame/categories.ejs') %>
	</div>
	<div id="results" class=" row"></div>
</div>

<%- include('./frame/footer.ejs') %>