<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>

<style>
	form {
		display: grid;
		place-items: center;
		padding-bottom: 30px;
	}
		
	.form-group {
		margin-bottom: 15px;
	}
		
	fieldset {
		padding-bottom: 20px;
	}
	label {
		padding: 3px;
	}
</style>
<div id="main">
	<h2 class="text-center">Register</h2>
	<div id="userboard"></div>
	<form id="registerForm" class="row p-3" autocomplete="off">
		<div class="form-group col-md-6">
			<label for="name">name *</label>
			<input class="form-control" type="text" name="name" id="name" placeholder="name" value="<%= a_user.name %>">
		</div>
		<div class="form-group col-md-6">
			<label for="surname">surname *</label>
			<input class="form-control" type="text" name="surname" id="surname" placeholder="surname" value="<%= a_user.surname %>">
		</div>
		<div class="col-12 row text-center">
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-6">
				<label for="username">Username *</label>
				<input class="form-control" type="text" name="username" id="username" placeholder="Username" value="<%= a_user.username %>">
			</div>
			<div class="form-group col-md-3"></div>
		</div>
		<div class="form-group col-md-4">
			<label for="cell_1">cell_1 *</label>
			<input class="form-control" type="text" name="cell1" id="cell1" placeholder="cell_1" value="<%= a_user.cell_1 %>">
		</div>
		<div class="form-group col-md-4">
			<label for="cell_2">cell_2</label>
			<input class="form-control" type="text" name="cell2" id="cell2" placeholder="cell_2" value="<%= a_user.cell_2 %>">
		</div>
		<div class="form-group col-md-4">
			<label for="email">email</label>
			<input class="form-control" type="email" name="email" id="email" placeholder="email" value="<%= a_user.email %>">
		</div>
		<div class="form-group">
			<label for="password">password</label>
			<input class="form-control" type="password" name="password" id="password" placeholder="password">
		</div>
		<div class="form-group">
			<label for="confirmPassword">confirmPassword</label>
			<input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword">
		</div>
		<% if (a_user) { %>
			<input type="hidden" id="userId" name="id" value="<%= a_user._id %>">
			<input type="hidden" id="upadteUser" name="upadteUser" value="true">
			<div class="text-center"><button type="submit" class="btn btn-primary">Update</button></div>
		<% } else { %>
			<input type="hidden" id="register" name="register" value="true">
			<div class="text-center"><button type="submit" class="btn btn-primary">Register</button></div>
		<% } %>
	</form>
</div>

<script>
	let username= () => /^[a-zA-Z]{2,20}\w$/.test($('#username').val().trim());
	let name = () => /^[a-zA-Z]{2,14}\w$/.test($('#name').val().trim());
	let surname = () => /^[a-zA-Z]{2,14}\w$/.test($('#surname').val().trim());
	let email = () => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($('#email').val().trim());
	let cell1 = () => /^[0-9]{4}[-\s\.]?[0-9]{4}$/im.test($('#cell1').val().trim());
	let cell2 = () => /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im.test($('#cell2').val().trim());
	let password = () => /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/.test($('#password').val());
	let password2 = () => $('#password').val() === $('#confirmPassword').val();

	$('#registerForm').submit((e) => {
		e.preventDefault();

		console.log('necpp',  name(), surname(), username());

		const showMessage = $('#showMessage');
		if (name() && surname() && username()) {
			let url='';

				$('#userId')? url = 'http://172.105.204.217/update' : url = 'http://172.105.204.217/adminregister';

				$.ajax({
				url,
				type: 'POST',
				data: $('#registerForm').serialize(),
				success: (result) => {
						console.log('successfully registered');
						if (result.success) {
							let page = '';
							if ($('#upadteUser').val()) { 
								showMessage.html(`<div class="alert alert-success alert-dismissible fade show" role="alert"><div>${result.msg}</div></div>`);
							} else {
								showMessage.html(`<div class="alert alert-success alert-dismissible fade show" role="alert"><div>User Created</div></div>`);
							}
							page = '/view-admin'
							setTimeout(() => {
								$(location).attr('href', page);
							}, 2300);
						} else {
								let msg = '';
								result.msg ? msg = msg = result.msg : msg = 'Invalid credentials';
								showMessage.html(`
									<div class="alert alert-danger alert-dismissible fade show" role="alert">
										<div>${msg}</div>
									</div>`);
						}
						showMessage.show(2000);
						setTimeout(() => {
								showMessage.hide(2000);
						}, 5000);
				},
				error: (e) => { console.log('Error: ', e); }
			});
		} else {
			username()	?	($('#username').css('border', '#198754 solid 2px'))					: ($('#username').css('border', '#dc3545 solid 2px'));
			name()			?	($('#name').css('border', '#198754 solid 2px'))							: ($('#name').css('border', '#dc3545 solid 2px'));
			surname()		?	($('#surname').css('border', '#198754 solid 2px'))					: ($('#surname').css('border', '#dc3545 solid 2px'));
			password()	?	($('#password').css('border', '#198754 solid 2px'))					: ($('#password').css('border', '#ff6600 solid 2px'));
			password2()	?	($('#confirmPassword').css('border', '#198754 solid 2px'))	: ($('#confirmPassword').css('border', '#ff6600 solid 2px'));
			email()			?	($('#email').css('border', '#198754 solid 2px')) 						: ($('#email').css('border', '#ff6600 solid 2px'));
			cell1()			?	($('#cell1').css('border', '#198754 solid 2px')) 						: ($('#cell1').css('border', '#ff6600 solid 2px'));
			cell2()			?	($('#cell2').css('border', '#198754 solid 2px')) 						: ($('#cell2').css('border', '#ff6600 solid 2px'));

			showMessage.html(`
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<div>Form incomplete</div>
				</div>`);
			showMessage.show(2000);
			setTimeout(() => {
					showMessage.hide(2000);
			}, 5000);
		}
	});

	$('#username').keyup(() => { name() ? ($('#username').css('border', '#198754 solid 2px')) : ($('#username').css('border', '#dc3545 solid 2px')); });
	$('#name').keyup(() => { name() ? ($('#name').css('border', '#198754 solid 2px')) : ($('#name').css('border', '#dc3545 solid 2px')); });
	$('#surname').keyup(() => { surname() ? ($('#surname').css('border', '#198754 solid 2px')) : ($('#surname').css('border', '#dc3545 solid 2px')); });
	$('#password').keyup(() => { password() ? ($('#password').css('border', '#198754 solid 2px')) : ($('#password').css('border', '#ff6600 solid 2px')); });
	$('#confirmPassword').keyup(() => { password2() ? ($('#confirmPassword').css('border', '#198754 solid 2px')) : ($('#confirmPassword').css('border', '#ff6600 solid 2px')); });
	$('#email').keyup(() => { email() ? ($('#email').css('border', '#198754 solid 2px')) : ($('#email').css('border', '#ff6600 solid 2px')); });
	$('#cell1').keyup(() => { cell1() ? ($('#cell1').css('border', '#198754 solid 2px')) : ($('#cell1').css('border', '#ff6600 solid 2px')); });
	$('#cell2').keyup(() => { cell2() ? ($('#cell2').css('border', '#198754 solid 2px')) : ($('#cell2').css('border', '#ff6600 solid 2px')); });


</script>
<%- include('./frame/footer.ejs') %>