<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>

<div id="main" class="p-2">
<h1 class="text-center">Payment Processing</h1>
<form action="http://172.105.204.217/payments/" method="post" class="p-1">
	<div class="row">
		<div class="col"><%=user.name%></div>
		<div class="col"><%=user.surname%></div>
		<div class="col"><%=user.national_id%></div>
		<div class="col">Payment Exp: <%=userPayment.payment_exp%></div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group m-2  col-xs-12 col-sm-12 col-md-6">
			<label for="amount">Payment Amount</label>
			<input class="form-control" type="number" min="1" name="amount" id="amount" autocomplete="off">
		</div>
		<button type="submit" class="btn btn-success">Save</button>
		<div class="form-group m-2  col-xs-12 col-sm-12 col-md-6">
			Premium: <%= user.policy_payment%>
		</div>
		<input type="hidden" name="id" value="<%=user._id%>">
	</div>
	<hr>
</form>

<div class="legend row m-1">
	<div>Legend</div>
	<div class="col btn btn-sm rounded btn-primary m-1">Past Months</div> 
	<div class="col btn btn-sm rounded btn-success m-1">Full Paiyment</div> 
	<div class="col btn btn-sm rounded btn-danger m-1">Unpaid Months</div> 
	<div class="col btn btn-sm rounded btn-info m-1">Incomplete Payment</div> 
	<div class="col btn btn-sm rounded btn-secondary m-1">Future Payments</div> 
</div>

<div class="history">
	<h2>Payment</h2>
	<div id="payments">
		<div id="lastpayment">
		</div>
		<div class="visualise">
			<div class="year row">
				<div id="year"></div>
				<div class="rounded month jan  m-1 btn btn-primary col">Jan</div>
				<div class="rounded month feb  m-1 btn btn-primary col">Feb</div>
				<div class="rounded month mar  m-1 btn btn-primary col">Mar</div>
				<div class="rounded month apr  m-1 btn btn-primary col">Apr</div>
				<div class="rounded month may  m-1 btn btn-primary col">May</div>
				<div class="rounded month jun  m-1 btn btn-primary col">Jun</div>
				<div class="rounded month jul  m-1 btn btn-primary col">Jul</div>
				<div class="rounded month aug  m-1 btn btn-primary col">Aug</div>
				<div class="rounded month sep  m-1 btn btn-primary col">Sep</div>
				<div class="rounded month oct  m-1 btn btn-primary col">Oct</div>
				<div class="rounded month nov  m-1 btn btn-primary col">Nov</div>
				<div class="rounded month dec  m-1 btn btn-primary col">Dec</div>
			</div>
		</div>
	</div>
	<div>
		
	</div>
</div>
<script>
	let policy = '';
	!isNaN('<%= user.policy_payment %>') ?  
		policy = Number('<%= user.policy_payment %>'): policy = 0;
	const lastMonthbalance = Number('<%= userPayment.balance %>');
	const lastPayDate = '<%= userPayment.payment_exp %>';
	const lastPayAmount = Number('<%= userPayment.amount %>');
</script>
<script src="/javascripts/payment.js"></script>
</div>
<%- include('./frame/footer.ejs') %>
