<%- include('./frame/header.ejs') %>
<!-- SHOW ALL userS -->
<%- include('./frame/menu.ejs') %>
<div id="main">
	<h1 class="text-center">Policies</h1>
	<button class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#add-policy">Add Policy</button>
	<div class="poliy-list">
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<td></td>
					<td>Name</td>
					<td>Code</td>
					<td>Description</td>
					<td>Memebers</td>
					<td>Premium</td>
				</tr>
			</thead>
			<tbody class="policy">
				<% policyList.forEach(policy => { %>
					<tr>
						<td></td>
						<td><%= policy.name %></td>
						<td><%= policy.code %></td>
						<td><%= policy.description %></td>
						<td><%= policy.members %></td>
						<td><%= policy.premium %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<!-- add policy Modal (hidden by default) -->
	<div class="modal fade" id="add-policy"  tabindex="-1" aria-labelledby="add-policyLabel" aria-hidden="true">
		<form id="addPolicyForm" action="http://172.105.204.217/policy" method="POST">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="add-policyLabel">New Policy</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="policyname">Policy Title</label>
							<input class="form-control" type="text" id="policyname" name="policyname" placeholder="Policy Title" required>
						</div>
						<div class="form-group">
							<label for="code">Code/Abreviation (No splaces)</label>
							<input class="form-control" type="text" id="code" name="code" placeholder="code" required>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea class="form-control" type="text" id="description" name="description" placeholder="description" maxlength="30" required></textarea>
						</div>
						<div class="row">
							<h3>Premium</h3>
							<div class="form-group col-sm-6">
								<label for="option1">Premium 1</label>
								<input class="form-control" type="number" step="0.01" min="0" id="option1" name="option1" placeholder="option1">
							</div>
							<div class="form-group col-sm-6">
								<label for="option2">Premium 2</label>
								<input class="form-control" type="number" step="0.01" min="0" id="option3" name="option2" placeholder="option2">
							</div>
							<div class="form-group col-sm-6">
								<label for="option3">Premium 3</label>
								<input class="form-control" type="number" step="0.01" min="0" id="option3" name="option3" placeholder="option3">
							</div>
							<div class="form-group col-sm-6">
								<label for="option4">Premium 4</label>
								<input class="form-control" type="number" step="0.01" min="0" id="option4" name="option4" placeholder="option4">
							</div>
						</div>
						<div class="form-group">
							<label for="members">No of People in Policy</label>
							<input class="form-control" type="number" id="members" name="members" min="1" placeholder="Members" required>
						</div>
						<input type="hidden" value="" name="policy" id="policyPolicy">
						<input type="hidden" value="t" name="addPolicyForm" id="addPolicyForm">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="dismissModal">Close</button>
						<button type="submit" class="btn btn-primary">Add policy</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	const showMessage = $('#showMessage');
	$('#addPolicyForm').submit((e) => {
		e.preventDefault();
		console.log($('#addPolicyForm'));
		$.ajax({
			url: 'http://172.105.204.217/policy/',
			type: 'POST',
			data: $('#addPolicyForm').serialize(),
			success: result => {
				console.log('Success: ', result);
				console.table(result);
				if (result.success) {
					// send success msg
					let newPolicyList = [];
					if(result.data) {
						result.data.forEach(policy => {
							newPolicyList.push(`<tr>
							<td></td>
							<td>${policy.name}</td>
							<td>${policy.code}</td>
							<td>${policy.description}</td>
							<td>${policy.members}</td>
							<td>${policy.premium}</td>
						</tr>`);
						});
						// const policy = result.data[i]
					}
					$('.policy').html(newPolicyList)
					showMessage.html(`<div class="alert alert-success alert-dismissible fade show" role="alert"><div>${result.msg}</div></div>`);
					$('#dismissModal').click();
					$(':input','#addPolicyForm')
						.not(':button, :submit, :reset, :hidden')
						.val('')
						.removeAttr('checked')
						.removeAttr('selected');
					showMessage.show( 2000 );
					setTimeout(() => { 
						showMessage.hide(2000);
					}, 2500);
				} else {
					let msg = '';
					result.msg ? msg = msg = result.msg : msg = 'Error Saving policy';
					showMessage.html(`
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<div">${msg}</div>
						</div>`);
						showMessage.show( 2000 );
						setTimeout(() => { showMessage.hide(2000); }, 2500);
				}
			},
			error: e => {}
		});
	});
	// http://172.105.204.217/policy" method="POST"
</script>
<%- include('./frame/footer.ejs') %>