<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>
<style>
	.border {
		/* background-color: rgb(219, 219, 219); */
	}
</style>

<div id="main" class="p-2">
	<div class="row">
		<div class="h4 col-md-10 text-uppercase"><%= user.title %> <%= user.name %> <%= user.surname %> (<%= user.alt_Surname %>)</div>
		<div class="col-md-2">
			<a href="/payments/<%=user._id%>"><button class="btn btn-success">Payment</button></a>
		</div>
	</div>
	<div class="row m-2">
		<div class="col-md-4 col-auto"><label class="visually-hidden" for="national_id">national_id</label><div class="input-group"><div class="input-group-text">ID &nbsp;</div><input type="text" class="form-control" id="national_id"  disabled value="<%if(user.national_id){%> <%= user.national_id %><%}else{%> n/a <%}%>"></div></div>
		<div class="col-md-4 col-auto"><label class="visually-hidden" for="cell_1">cell_1</label><div class="input-group"><div class="input-group-text">Cell</div><input type="text" class="form-control" id="cell_1"  disabled value="<%if(user.cell_1){%> <%= user.cell_1 %><%}else{%> n/a <%}%>"></div></div>
		<div class="col-md-4 col-auto"><label class="visually-hidden" for="cell_2">cell_2</label><div class="input-group"><div class="input-group-text">Cell</div><input type="text" class="form-control" id="cell_2"  disabled value="<%if(user.cell_2){%> <%= user.cell_2 %><%}else{%> n/a <%}%>"></div></div>
	</div>
	<hr>
	<div id="payments" class="row">
		<div class="column col-md-3 p-2 border border-2">
			<div class="text-center h5"><u>Payment History</u></div>
			<ol id="payment_record">
				<% for (let i = 0; i < payments.length; i++) { %>
						<% const pay = payments[i]; %>
						<li class="row" onclick="fn_display('<%=i%>')">
							<div></div>
							<div class="col date fw-bold p-1">
								<!-- <%= user.reg_date %> -->
								<%= new Date(pay.time).toLocaleDateString()%> <%= new Date(pay.time).toLocaleTimeString()%>
							</div>
							<div class="col amount fw-bold"> M <%= pay.amount%>.00</div>
							<!-- <div class="col premium">3</div> -->
						</li>
				<% } %>
			</ol>
		</div>

		<div class="column col-md-9 p-2 border">
			<div class="text-center h5"><u>Viasualisation</u></div>
			<div id="visualisation">
				<table class="table table-bordered">
					<thead>
						<tr>
							<!-- <th>_id</th> -->
							<!-- <th>policy_holder</th> -->
							<th scope="col">Amount</th>
							<th scope="col">Balance</th>
							<th scope="col">Payment_Exp</th>
							<th scope="col">All_Monts_Paid</th>
							<th scope="col">Premium</th>
							<th scope="col">Date</th>
							<!-- <th scope="col">Cell</th> -->
							<th scope="col">Reference</th>
						</tr>
					</thead>
					<tbody>
						<% for (let i = 0; i < payments.length; i++) { %>
							<% const pay = payments[i]; %>
							<tr>
								<!-- <td><%= pay._id%></td>
								<td><%= pay.policy_holder%></td> -->
								<td>M <%= pay.amount%>.00</td>
								<td>M <%= pay.balance%></td>
								<td><%= pay.payment_exp%></td>
								<td><%= pay.all_Monts_Paid%></td>
								<td>M <%= pay.policy%>.00</td>
								<td><%= pay.time%></td>
								<!-- <td><%= pay.cell%></td> -->
								<td><%= pay.reference%></td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	let fn_display = (i)=> {
		alert(i);
	}
</script>
<%- include('./frame/footer.ejs') %>