<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>
<div id="main">
	<div class="tab-pane fade show active" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
		<h2>Personal</h2>
		<a href="/payments/<%=user._id%>"><button class="btn btn-primary">Update</button></a>

		<div>name: <%if(user.name){%> <%= user.name %><%}else{%> n/a <%}%></div>
		<div>surname: <%if(user.surname){%> <%= user.surname %><%}else{%> n/a <%}%></div>
		<div>national_id: <%if(user.national_id){%> <%= user.national_id %><%}else{%> n/a <%}%></div>
		<div>passport: <%if(user.passport){%> <%= user.passport %><%}else{%> n/a <%}%></div>
		<div>cell_1: <%if(user.cell_1){%> <%= user.cell_1 %><%}else{%> n/a <%}%></div>
		<div>cell_2: <%if(user.cell_2){%> <%= user.cell_2 %><%}else{%> n/a <%}%></div>
</div>
<%- include('./frame/footer.ejs') %>