<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>

<style>
	form {
		display: grid;
		place-items: center;
		padding-bottom: 30px;
	}
		
	.form-group {
		margin-bottom: 15px;
	}
		
	fieldset {
		padding-bottom: 20px;
	}
	label {
		padding: 3px;
	}
</style>
<div id="main">
	<h2 class="text-center">Register</h2>
	<div id="userboard"></div>
	<!-- <form id="registerForm"> -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="personal-details-tab" data-bs-toggle="tab" data-bs-target="#personal-details" type="button" role="tab" aria-controls="personal-details" aria-selected="true">Presonal Details</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="policy-tab" data-bs-toggle="tab" data-bs-target="#policy" type="button" role="tab" aria-controls="policy" aria-selected="false">Policy</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="persons-cover-tab" data-bs-toggle="tab" data-bs-target="#persons-cover" type="button" role="tab" aria-controls="persons-cover" aria-selected="false">Persons on Cover</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="personal-details" role="tabpanel" aria-labelledby="personal-details-tab">
				<form id="idintityForm">
					<div class="row p-3">
						<fieldset class="col-sm-12 col-md-12 row">
							<legend>Presonal Details</legend>
							<div class="form-group col-md-2">
								<label for="title">Title *</label>
								<select class="form-select" name="title" id="title" aria-label="Title" required>
									<option selected disabled value="">Select Tittle</option>
									<option value="mr">Mr</option>
									<option value="ms">Ms.</option>
									<option value="mrs">Mrs</option>
								</select>
							</div>
							<div class="form-group col-md-4">
									<label for="name">Name *</label>
									<input class="form-control" type="text" name="name" id="name" placeholder="Name" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="First Name">
							</div>
							<div class="form-group col-md-3">
								<label for="surname">Surname *</label>
								<input class="form-control" type="text" name="surname" id="surname" placeholder="surname" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="Surname">
							</div>
							<div class="form-group col-md-3">
								<label for="altsurname">Alternative Surname</label>
								<input class="form-control" type="text" name="altsurname" id="altsurname" placeholder="Alternative Surname" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alternative Surname">
							</div>
							<div class="row">
								<div class="form-group col-sm-4">
									<label for="nat_id">ID/Passport Number *</label>
									<input class="form-control" type="text" name="nat_id" id="nat_id" placeholder="RC7654321" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="ID or Passport Numbrt">
								</div>
								<div class="form-group col-sm-4">
									<label for="birth">Date of Birth *</label>
									<input class="form-control" type="date" name="birth" id="birth" placeholder="" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="Birthday">
								</div>
								<div class="form-group col-sm-4">
									<label for="gender">Gender *</label>
									<select class="form-select" aria-label="Select Gender" name="gender" id="gender" required>
										<option selected disabled value="">Select Gender</option>
										<option value="m">Male</option>
										<option value="f">Female</option>
									</select>
								</div>
								<div class="form-group">
									<label for="addres">Physical Addres *</label>
									<textarea name="address" id="address" cols="30" rows="3" placeholder="Physical Address" class="form-control" required></textarea>
								</div>
							</div>
							<div class="">
								<div><label for="status">Status *</label></div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Single">
									<input class="form-check-input" type="radio" name="status" id="single" value="single" checked>
									<label class="form-check-label" for="single">Single</label>
								</div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Married">
									<input class="form-check-input" type="radio" name="status" id="married" value="married">
									<label class="form-check-label" for="married">Married</label>
								</div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Widow/Widower">
									<input class="form-check-input" type="radio" name="status" id="widow" value="widow">
									<label class="form-check-label" for="widow">Widow / Widower</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="separated" value="separated" data-bs-toggle="tooltip" data-bs-placement="top" title="Separated">
									<label class="form-check-label" for="separated">Separated</label>
								</div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Civil Partner">
									<input class="form-check-input" type="radio" name="status" id="civil" value="civil">
									<label class="form-check-label" for="civil">Civil Partner</label>
								</div>
							</div>
						</fieldset>
						<fieldset class=" col-md-12 row">
							<legend>Contact</legend>
								<div class="form-group col-md-4">
									<label for="email">Email</label>
									<input class="form-control" type="email" name="email" id="email" placeholder="Email">
								</div>
								<div class="form-group col-md-4">
									<label for="cell1">Cell Phone No</label>
									<input type="text" class="form-control" placeholder="5876 5432" id="cell1" name="cell1" aria-label="les">
								</div>
								<!-- <div class="form-group col-md-4">
									<span class="input-group-text" id="basic-addon1">+27(0)</span>
									<input type="text" class="form-control" id="cell2" name="cell2" placeholder="987 654 32" aria-label="cell2">
								</div> -->
						</fieldset>
						<div class="row">
							<div class="col-sm-5 p-2 m-3"></div>
							<div class="col-sm-5 p-2 m-2">
								<button type="submit" class="btn btn-success " >Policy ></button>
							</div>
						</div>
					</div>
					<input type="hidden" value="t" name="idintityForm">
				</form>
			</div>
			<div class="tab-pane fade" id="policy" role="tabpanel" aria-labelledby="policy-tab">
				<form id="policyForm">
					<fieldset class="row p-3">
						<legend>Policy</legend>
						<table class="table">
							<thead>
								<tr>
									<td></td>
									<td>Option 1 <br> M10,000.00</td>
									<td>Option 2 <br> M15,000.00</td>
									<td>Option 3 <br> M20,000.00</td>
									<td>Option 4 <br> M30,000.00</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><b>Individual premium p/m</b></td>
									<td><input type="radio" class="btn-check" name="policy" id="op1" value="op1" autocomplete="off" checked><label class="btn btn-outline-success" for="op1">15.00</label></td>
									<td><input type="radio" class="btn-check" name="policy" id="op2" value="op2" autocomplete="off"><label class="btn btn-outline-success" for="op2">25.00</label></td>
									<td><input type="radio" class="btn-check" name="policy" id="op3" value="op3" autocomplete="off"><label class="btn btn-outline-success" for="op3">30.00</label></td>
									<td><input type="radio" class="btn-check" name="policy" id="op4" value="op4" autocomplete="off"><label class="btn btn-outline-success" for="op4">45.00</label></td>
								</tr>
								<tr>
									<td><b>Family premium p/m</b></td>
									<td><input type="radio" class="btn-check" name="policy" id="fp1" value="fp1" autocomplete="off"><label class="btn btn-outline-success" for="fp1">40.00</label></td>
									<td><input type="radio" class="btn-check" name="policy" id="fp2" value="fp2" autocomplete="off"><label class="btn btn-outline-success" for="fp2">56.00</label></td>
									<td><input type="radio" class="btn-check" name="policy" id="fp3" value="fp3" autocomplete="off"><label class="btn btn-outline-success" for="fp3">88.00</label></td>
									<td><input type="radio" class="btn-check" name="policy" id="fp4" value="fp4" autocomplete="off"><label class="btn btn-outline-success" for="fp4">136.00</label></td>
								</tr>
								<tr>
									<td><b>Parent/Parent-in-law &lt 65 </b></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntU65_1" value="pntU65_1" autocomplete="off"><label class="btn btn-outline-success" for="pntU65_1">15.00</label></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntU65_2" value="pntU65_2" autocomplete="off"><label class="btn btn-outline-success" for="pntU65_2">25.00</label></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntU65_3" value="pntU65_3" autocomplete="off" disabled><label class="btn btn-outline-secondary" for="pntU65_3">n/a</label></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntU65_4" value="pntU65_4" autocomplete="off" disabled><label class="btn btn-outline-secondary" for="pntU65_4">n/a</label></td></td>
								</tr>
								<tr>
									<td><b>Parent/Parent-in-law &gt; 65</b></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntO65_1" value="pntO65_1" autocomplete="off"><label class="btn btn-outline-success" for="pntO65_1">46.00</label></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntO65_2" value="pntO65_2" autocomplete="off"><label class="btn btn-outline-success" for="pntO65_2">56.00</label></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntO65_3" value="pntO65_3" autocomplete="off" disabled><label class="btn btn-outline-secondary" for="pntO65_3">n/a</label></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="pntO65_4" value="pntO65_4" autocomplete="off" disabled><label class="btn btn-outline-secondary" for="pntO65_4">n/a</label></td></td>
								</tr>
								<tr>
									<td><b>Extended family (max 4 dependents)</b></td>
									<td><input type="radio" class="btn-check" name="policy" id="xf1" value="xf1" autocomplete="off"><label class="btn btn-outline-success" for="xf1">15.00</label></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="xf2" value="xf2" autocomplete="off"><label class="btn btn-outline-success" for="xf2">20.00</label></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="xf3" value="xf3" autocomplete="off" disabled><label class="btn btn-outline-secondary" for="xf3">n/a</label></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="xf4" value="xf4" autocomplete="off" disabled><label class="btn btn-outline-secondary" for="xf4">n/a</label></td></td></td>
								</tr>
								<tr>
									<td><b>Repatriation of remains (member only)</b></td>
									<td><input type="radio" class="btn-check" name="policy" id="rep1" value="rep1" autocomplete="off"><label class="btn btn-outline-success" for="rep1">15.00</label></td></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="rep2" value="rep2" autocomplete="off"><label class="btn btn-outline-success" for="rep2">15.00</label></td></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="rep3" value="rep3" autocomplete="off"><label class="btn btn-outline-success" for="rep3">15.00</label></td></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="rep4" value="rep4" autocomplete="off"><label class="btn btn-outline-success" for="rep4">15.00</label></td></td></td></td>
								</tr>
								<tr>
									<td><b>Repatriation of remains Member and spouse</b></td>
									<td><input type="radio" class="btn-check" name="policy" id="repSp1" value="repSp1" autocomplete="off"><label class="btn btn-outline-success" for="repSp1">20.00</label></td></td></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="repSp2" value="repSp2" autocomplete="off"><label class="btn btn-outline-success" for="repSp2">20.00</label></td></td></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="repSp3" value="repSp3" autocomplete="off"><label class="btn btn-outline-success" for="repSp3">20.00</label></td></td></td></td></td>
									<td><input type="radio" class="btn-check" name="policy" id="repSp4" value="repSp4" autocomplete="off"><label class="btn btn-outline-success" for="repSp4">20.00</label></td></td></td></td></td>
								</tr>
							</tbody>
						</table>
					</fieldset>
					<div class="row">
						<!-- <button class="btn btn-primary col-sm-5 p-2 active" id="personal-details-tab" data-bs-toggle="tab" data-bs-target="#personal-details" type="button" role="tab" aria-controls="personal-details" aria-selected="true">< Back</button> -->
						<!-- <div class="col-sm-2"></div> -->
							<div class="col-sm-5 p-2 m-2">
								<button type="submit" class="btn btn-success">persons-cover Next ></button>
							</div>
					</div>
					<input type="hidden" value="t" name="policyForm">
				</form>
			</div>
			<div class="tab-pane fade" id="persons-cover" role="tabpanel" aria-labelledby="persons-cover-tab">
				<form id="beneficiaryForm">
					<fieldset class="row p-3">
						<legend>PERSONS ON COVER</legend>
						<!-- Button trigger modal -->
						<a href=""><button class="btn btn-success " data-bs-toggle="modal" data-bs-target="#add-person">Add</button></a>
	
						<div class="row">
							<div class="col-12">
								<table class="table table-striped table-bordered">
									<thead class="table-dark">
										<tr>
											<td></td>
											<td>TITLE</td>
											<td>NAME</td>
											<td>SURNAME</td>
											<td>INITIALS</td>
											<td>RELATIONSHIP</td>
											<td>BIRTH DATE</td>
											<td>PHONE NUMBER</td>
											<td></td>
											<td>BENEFICIARY</td>
										</tr>
									</thead>
									<tbody id="cover-persons-list">
										<!-- <tr>
											<td><button class="btn btn-sm btn-danger">X</button></td>
											<td>Mr</td>
											<td>John</td>
											<td>Doe</td>
											<td>J.D.</td>
											<td>Cousin</td>
											<td>01 Jan 2000</td>
											<td>5876 5432</td>
											<td><button class="btn btn-primary">Edit</button></td>
											<td><button class="btn btn-warning">beneficiary</button></td>
										</tr> -->

										<% for(let i = 0; i < members.length; i++) { %>
												<% let member = members[i] %>
												<% if (member.beneficiary) { %>
													<tr>
														<td><button onclick=remove(<%= member._id %>) class="btn btn-sm btn-danger">X</button></td>
														<td><%= member.title %></td>
														<td><%= member.name %></td>
														<td><%= member.surname %></td>
														<td><%= member.initials %></td>
														<td><%= member.relationship %></td>
														<td><%= member.birth %></td>
														<td><%= member.phone %></td>
														<td><button onclick=edit(<%= member._id %>) class="btn btn-primary">Edit</button></td>
														<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="<%= member._id %>" checked><label class="btn btn-outline-warning">B</label></td>
													</tr>
												<% } else { %>
													<tr>
														<td><button onclick=remove(<%= member._id %>) class="btn btn-sm btn-danger">X</button></td>
														<td><%= member.title %></td>
														<td><%= member.name %></td>
														<td><%= member.surname %></td>
														<td><%= member.initials %></td>
														<td><%= member.relationship %></td>
														<td><%= member.birth %></td>
														<td><%= member.phone %></td>
														<td><button onclick=edit(<%= member._id %>) class="btn btn-primary">Edit</button></td>
														<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="<%= member._id %>"><label class="btn btn-outline-warning">B</label></td>
													</tr>
												<% } %>	
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
					<div class="row">
						<!-- <button class="btn btn-primary col-sm-5 p-2 m-2"  type="button">< Policy</button> -->
						<div class="col-sm-5 p-2 m-2">
							<button type="submit" class="btn btn-success ">Save</button>
						</div>
					</div>
					<input type="hidden" value="t" name="beneficiaryForm">
				</form>
			</div>
		</div>
		<!-- <input type="hidden" value="t" name="register" value="true"> -->
	<!-- </form> -->
</div>

	<!-- add person Modal (hidden by default) -->
	<div class="modal fade" id="add-person"  tabindex="-1" aria-labelledby="add-personLabel" aria-hidden="true">
		<form id="addMemberForm">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="add-personLabel">Add Person</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<fieldset class="row p-3">
							<!-- <legend>Beneficiary Nomination</legend> -->
							<div class="row">
									<div class="row">
											<div class="form-group col-md-2">
													<label for="memberTitle">Title</label>
													<!-- <input class="form-control" type="text" id="memberTitle" name="memberTitle" placeholder="Title"> -->
													<select class="form-select" name="memberTitle" id="memberTitle" aria-label="Title" required>
														<option selected disabled value="">Select Tittle</option>
														<option value="mr">Mr</option>
														<option value="ms">Ms.</option>
														<option value="mrs">Mrs</option>
													</select>
											</div>
											<div class="form-group col-md-4">
													<label for="memberSurname">Surname</label>
													<input class="form-control" type="text" id="memberSurname" name="memberSurname" placeholder="Surname">
											</div>
											<div class="form-group col-md-4">
													<label for="memberName">First Name</label>
													<input class="form-control" type="text" id="memberName" name="memberName" placeholder="Name">
											</div>
											<div class="form-group col-md-2">
													<label for="memberInitials">Initials</label>
													<input class="form-control" type="text" id="memberInitials" name="memberInitials" placeholder="Initials">
											</div>
									</div>
									<div class="form-group col">
											<label for="relationship">Relationship to Member</label>
											<input class="form-control" type="text" id="relationship" name="relationship" placeholder="Relationship">
									</div>
									<div class="row">
											<div class="form-group col-12">
													<label for="memberBirth">Date of Birth</label>
													<input class="form-control" type="date" id="memberBirth" name="memberBirth" placeholder="Date">
											</div>
											<div class="form-group col-12">
													<label for="Phone">Phone Number</label>
													<input class="form-control" type="text" id="phone" name="phone" placeholder="Phone">
											</div>
									</div>
							</div>
							<input type="hidden" value="t" name="addMemberForm" id="addMemberForm">
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="dismissModal">Close</button>
						<button type="submit" class="btn btn-primary">Add Member</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
	let loadUser = (user) => {
		if (user.name) {
		$('#userboard').html(
			`<div class="accordion accordion-flush" id="userInfo-accordionFlush">
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							${user.title} ${user.name} ${user.surname} ${user.policy}
						</button>
					</h2>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#userInfo-accordionFlush">
						<div class="accordion-body">
							<div class="user row">
								<div class="col">
									<div class="col user.title">${user.title}</div>
									<div class="col user.name">${user.name}</div>
									<div class="col user.surname">${user.surname}</div>
									<div class="col user.alt_Surname">${user.alt_Surname}</div>
								</div>
								<div class="col">
									<div class="col user.gender">${user.gender}</div>
									<div class="col user.national_id">${user.national_id}</div>
									<div class="col user.birth">${user.birth}</div>
									<div class="col user.address">${user.address}</div>
								</div>
								<div class="col">
									<div class="col user.email">${user.email}</div>
									<div class="col user.cell_1">${user.cell_1}</div>
									<div class="col user.cell_2">${user.cell_2}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>`);
		}
	}
	let loadMembers = members => {
		console.warn('members.length', members.length);
		let members_list = [];
		if (members && members.length > 0) {
			members.forEach(member => {
				member.beneficiary ?
				console.log('Y', member.beneficiary):
				console.log('N', member.beneficiary);
				if (member.beneficiary) {
					members_list.push(`<tr>
						<td><button onclick=remove(${member._id}) class="btn btn-sm btn-danger">X</button></td>
						<td>${member.title}</td>
						<td>${member.name}</td>
						<td>${member.surname}</td>
						<td>${member.initials}.</td>
						<td>${member.relationship}</td>
						<td>${member.birth}</td>
						<td>${member.phone}</td>
						<td><button onclick=edit(${member._id}) class="btn btn-primary">Edit</button></td>
						<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="${member._id}" checked><label class="btn btn-outline-warning">B</label></td>
						</tr>`);
				} else {
					members_list.push(`<tr>
						<td><button onclick=remove(${member._id}) class="btn btn-sm btn-danger">X</button></td>
						<td>${member.title}</td>
						<td>${member.name}</td>
						<td>${member.surname}</td>
						<td>${member.initials}.</td>
						<td>${member.relationship}</td>
						<td>${member.birth}</td>
						<td>${member.phone}</td>
						<td><button onclick=edit(${member._id}) class="btn btn-primary">Edit</button></td>
						<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="${member._id}"><label class="btn btn-outline-warning">B</label></td>
						</tr>`);
				}
			});
		} else {
			members_list = 'No members added';
		}
		console.table(members_list);
		$("#cover-persons-list").html(members_list);
	}
	$('#idintityForm').submit((e) => {
		e.preventDefault();
		$.ajax({
			url: 'http://172.105.204.217/register/',
			type: 'POST',
			data: $('#idintityForm').serialize(),
			success: data => {
				console.log('data: ', data);
				console.log('data: ', data.data, !isNaN(data.data));
				// save data
				if (!isNaN(data.data)) {
					const user_id = `<input type="text" name="tmp_reg_id" value="${data.data}">`;
					$('#addMemberForm').append(user_id);
					$('#idintityForm').append(user_id);
					$('#policyForm').append(user_id);
					$('#beneficiaryForm').append(user_id);
					$('#policy-tab').click();
					alert('y ',data, user_id, !isNaN(data))
				} else {
					alert('n', data, user_id,!isNaN(data));
				}
				if (data.user) {
					loadUser(data.user);
				}
			},
			error: e=> console.log('Personal Details Error: \n', e)
		});
	});
	$('#policyForm').submit((e) => {
		e.preventDefault();
		$.ajax({
			url: 'http://172.105.204.217/register/',
			type: 'POST',
			data: $('#policyForm').serialize(),
			success: data =>{
				console.log('#policyForm: ', data);
				$('#persons-cover-tab').click();
			},
			error: e=> console.log('Policy error: ', e)
		});
	});
	$('#beneficiaryForm').submit((e) => {
		e.preventDefault();
		$.ajax({
			url: 'http://172.105.204.217/register/',
			type: 'POST',
			data: $('#beneficiaryForm').serialize(),
			success: data => {
				console.log(`#beneficiaryForm: `, data);
			},
			error: e=> console.log('Persons on Cover Error: ', e)
		});
	});
	postData = (data, url) => {
		return new Promise((resolve, reject) => {
			$.ajax({
				url, type: 'POST', data, 
				success: data => resolve(data) , 
				error: e => reject(e)
			});
		});
	}
	let remove = (id) => {
		postData({action:'remove', id}.serialize(), '')
		.then(dt => console.log('rm   dt ', dt))
		.catch(e => console.log('Error: '+ e));
	}
	let edit = (id) => {
		postData({action:'edit', id}.serialize(), '')
		.then(dt => console.log('etit dt ', dt))
		.catch(e => console.log('Error: '+ e));
	}
	let setBeneficiary = (id) => {
		postData({action:'setBeneficiary', id}.serialize(), '')
		.then(dt => console.log('ben  dt ', dt))
		.catch(e => console.log('Error: '+ e));
	}
	$('#addMemberForm').submit((e) => {
		e.preventDefault();
		
		postData($('#addMemberForm').serialize(), 'http://172.105.204.217/register/')
		.then(data => {
			console.log('ben  dt ', data);
				if (data.success) {
					let pesrons_list = [];
					let members = data.data;
					// reset form
					console.log('success', members);
					console.warn( data);
					$('#dismissModal').click();
					$('#memberTitle').val('');
					$('#memberSurname').val('');
					$('#memberName').val('');
					$('#memberInitials').val('');
					$('#relationship').val('');
					$('#memberBirth').val('');
					$('#phone').val('');
					console.error(members, members.length);
					loadMembers(members);
				} else {
					alert('member failed')
				}
			
		})
		.catch(e => console.log('Persons on Cover Error: ', e));
	});
		
	
		$(document).ready(() => {
			const user = {
				_id:          '<%= user._id %>',
				title:        '<%= user.title %>'.toLocaleUpperCase(),
				name:         '<%= user.name %>',
				surname:      '<%= user.surname %>',
				alt_Surname:  '<%= user.alt_Surname %>',
				gender:       '<%= user.gender %>',
				national_id:  '<%= user.national_id %>',
				birth:        '<%= user.birth %>',
				address:      '<%= user.address %>',
				email:        '<%= user.email %>',
				cell_1:       '<%= user.cell_1 %>',
				cell_2:       '<%= user.cell_2 %>',
				status:       '<%= user.status %>',
				policy:       '<%= user.policy %>',
				beneficiary:  '<%= user.beneficiary %>',
				members:      '<%= user.members %>',
				payments:     '<%= user.payments %>'
			};

			// console.warn(user);
			loadUser(user);

			let testUser = '<%= user._id %>';

			if (!isNaN(testUser)) {
				const user_id = `<input type="text" name="tmp_reg_id" value="${testUser}">`;
				$('#addMemberForm').append(user_id);
				$('#idintityForm').append(user_id);
				$('#policyForm').append(user_id);
				$('#beneficiaryForm').append(user_id);
			} else {
				alert('fuck you');
			}
		});
</script>
<%- include('./frame/footer.ejs') %>