<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>

<style>
	form {
		display: grid;
		place-items: center;
		padding-bottom: 30px;
	}
		
	.form-group {
		margin-bottom: 15px;
	}
		
	fieldset {
		padding-bottom: 20px;
	}
	label {
		padding: 3px;
	}
</style>
<div id="main">
	<h2 class="text-center">Register</h2>
	<div id="userboard"></div>
	<!-- <form id="registerForm"> -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="personal-details-tab" data-bs-toggle="tab" data-bs-target="#personal-details" type="button" role="tab" aria-controls="personal-details" aria-selected="true">Presonal Details</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="policy-tab" data-bs-toggle="tab" data-bs-target="#policy" type="button" role="tab" aria-controls="policy" aria-selected="false">Policy</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="persons-cover-tab" data-bs-toggle="tab" data-bs-target="#persons-cover" type="button" role="tab" aria-controls="persons-cover" aria-selected="false">Persons on Cover</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="personal-details" role="tabpanel" aria-labelledby="personal-details-tab">
				<form id="idintityForm">
					<div class="row p-3">
						<fieldset class="col-sm-12 col-md-12 row">
							<legend>Presonal Details</legend>
							<div class="form-group col-md-2">
								<label for="title">Title *</label>
								<select class="form-select" name="title" id="title" aria-label="Title" required>
									<option selected disabled value="">Select Tittle</option>
									<option id="mr" value="mr">Mr</option>
									<option id="ms" value="ms">Ms.</option>
									<option id="mrs" value="mrs">Mrs</option>
								</select>
							</div>
							<div class="form-group col-md-4">
									<label for="name">Name *</label>
									<input class="form-control" type="text" name="name" id="name" placeholder="Name" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="First Name">
							</div>
							<div class="form-group col-md-3">
								<label for="surname">Surname *</label>
								<input class="form-control" type="text" name="surname" id="surname" placeholder="surname" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="Surname">
							</div>
							<div class="form-group col-md-3">
								<label for="altsurname">Alternative Surname</label>
								<input class="form-control" type="text" name="altsurname" id="altsurname" placeholder="Alternative Surname" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alternative Surname">
							</div>
							<div class="row">
								<div class="form-group col-sm-4">
									<label for="nat_id">ID/Passport Number *</label>
									<input class="form-control" type="text" name="nat_id" id="nat_id" placeholder="RC7654321" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="ID or Passport Numbrt">
								</div>
								<div class="form-group col-sm-4">
									<label for="birth">Date of Birth *</label>
									<input class="form-control" type="date" name="birth" id="birth" placeholder="" required data-bs-toggle="tooltip" data-bs-placement="bottom" title="Birthday">
								</div>
								<div class="form-group col-sm-4">
									<label for="gender">Gender *</label>
									<select class="form-select" aria-label="Select Gender" name="gender" id="gender" required>
										<option selected disabled value="">Select Gender</option>
										<option id="m" value="m">Male</option>
										<option id="f" value="f">Female</option>
									</select>
								</div>
								<div class="form-group">
									<label for="addres">Physical Addres *</label>
									<textarea name="address" id="address" cols="30" rows="3" placeholder="Physical Address" class="form-control"></textarea>
								</div>
							</div>
							<div class="">
								<div><label for="status">Status *</label></div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Single">
									<input class="form-check-input" type="radio" name="status" id="single" value="single" checked>
									<label class="form-check-label" for="single">Single</label>
								</div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Married">
									<input class="form-check-input" type="radio" name="status" id="married" value="married">
									<label class="form-check-label" for="married">Married</label>
								</div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Widow/Widower">
									<input class="form-check-input" type="radio" name="status" id="widow" value="widow">
									<label class="form-check-label" for="widow">Widow / Widower</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="separated" value="separated" data-bs-toggle="tooltip" data-bs-placement="top" title="Separated">
									<label class="form-check-label" for="separated">Separated</label>
								</div>
								<div class="form-check form-check-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Civil Partner">
									<input class="form-check-input" type="radio" name="status" id="civil" value="civil">
									<label class="form-check-label" for="civil">Civil Partner</label>
								</div>
							</div>
						</fieldset>
						<fieldset class=" col-md-12 row">
							<legend>Contact</legend>
								<div class="form-group col-md-4">
									<label for="email">Email</label>
									<input class="form-control" type="email" name="email" id="email" placeholder="Email">
								</div>
								<div class="form-group col-md-4">
									<label for="cell1">Cell Phone No</label>
									<input type="text" class="form-control" placeholder="5876 5432" id="cell1" name="cell1" aria-label="les">
								</div>
								<!-- <div class="form-group col-md-4">
									<span class="input-group-text" id="basic-addon1">+27(0)</span>
									<input type="text" class="form-control" id="cell2" name="cell2" placeholder="987 654 32" aria-label="cell2">
								</div> -->
						</fieldset>
						<div class="row">
							<div class="col-sm-5 p-2 m-3"></div>
							<div class="col-sm-5 p-2 m-2">
								<button type="submit" class="btn btn-success ">Policy ></button>
							</div>
						</div>
					</div>
					<input type="hidden" value="t" name="idintityForm">
				</form>
			</div>
			<div class="tab-pane fade" id="policy" role="tabpanel" aria-labelledby="policy-tab">
				<form id="policyForm">
					<div class="row p-3">
						<legend>Policy</legend>
						<table class="table">
							<thead>
								<tr>
									<td></td>
									<td>Option 1 <br> M10,000.00</td>
									<td>Option 2 <br> M15,000.00</td>
									<td>Option 3 <br> M20,000.00</td>
									<td>Option 4 <br> M30,000.00</td>
								</tr>
							</thead>
							<tbody>
								<% let k = 0%>
								<% for(let i = 0; i < 7;i++){ %>
									<tr>
										<td><b><%= policyList[k].name %></td>
											<% for(let j = 0; j < 4;j++){ %>
												<% let policy = policyList[k]; %>
												<%if (policy.premium){ %>
													<td><input type="checkbox" class="btn-check" name="<%= policy.code %>" value="<%= policy.code %>" id="<%= policy.code %>" autocomplete="off"><label class="btn btn-outline-success" for="<%= policy.code %>"><%= policy.premium %>.00</label></td>
													<% } else { %>
														<td><input type="checkbox" class="btn-check" name="<%= policy.code %>" value="<%= policy.code %>" id="<%= policy.code %>" autocomplete="off" disabled><label class="btn btn-outline-secondary" for="<%= policy.code %>">n\a</label></td>
												<% } %>
											<%k++;%>
										<% } %>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<div class="row">
						<!-- <button class="btn btn-primary col-sm-5 p-2 active" id="personal-details-tab" data-bs-toggle="tab" data-bs-target="#personal-details" type="button" role="tab" aria-controls="personal-details" aria-selected="true">< Back</button> -->
						<!-- <div class="col-sm-2"></div> -->
							<div class="col-sm-5 p-2 m-2">
								<button type="submit" class="btn btn-success">persons-cover Next ></button>
							</div>
					</div>
					<input type="hidden" value="t" name="policyForm">
				</form>
			</div>
			<div class="tab-pane fade" id="persons-cover" role="tabpanel" aria-labelledby="persons-cover-tab">
				<form id="beneficiaryForm">
					<div class="row p-3">
						<legend>PERSONS ON COVER</legend>
						<!-- Button trigger modal -->
						<!-- <a href=""><button class="btn btn-success " data-bs-toggle="modal" data-bs-target="#add-person">Add</button></a> -->
	
						<div class="row">
							<div id="addPersonList" class="col-12">
								<table class="table table-striped table-bordered">
									<thead class="table-dark">
										<tr>
											<td></td>
											<td>TITLE</td>
											<td>NAME</td>
											<td>SURNAME</td>
											<td>INITIALS</td>
											<td>RELATIONSHIP</td>
											<td>BIRTH DATE</td>
											<td>PHONE NUMBER</td>
											<td></td>
											<td>BENEFICIARY</td>
										</tr>
									</thead>
									<tbody id="cover-persons-list">
										<% if (members) { %>
											<% for(let i = 0; i < members.length; i++) { %>
													<% let member = members[i] %>
													<% if (member.beneficiary) { %>
														<tr>
															<td><button onclick=remove(<%= member._id %>) class="btn btn-sm btn-danger">X</button></td>
															<td><%= member.title %></td>
															<td><%= member.name %></td>
															<td><%= member.surname %></td>
															<td><%= member.initials %></td>
															<td><%= member.relationship %></td>
															<td><%= member.birth %></td>
															<td><%= member.phone %></td>
															<td><button onclick=edit(<%= member._id %>) class="btn btn-primary">Edit</button></td>
															<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="<%= member._id %>" checked><label class="btn btn-outline-warning">B</label></td>
														</tr>
													<% } else { %>
														<tr>
															<td><button onclick=remove(<%= member._id %>) class="btn btn-sm btn-danger">X</button></td>
															<td><%= member.title %></td>
															<td><%= member.name %></td>
															<td><%= member.surname %></td>
															<td><%= member.initials %></td>
															<td><%= member.relationship %></td>
															<td><%= member.birth %></td>
															<td><%= member.phone %></td>
															<td><button onclick=edit(<%= member._id %>) class="btn btn-primary">Edit</button></td>
															<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="<%= member._id %>"><label class="btn btn-outline-warning">B</label></td>
														</tr>
													<% } %>
											<% } %>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- <button class="btn btn-primary col-sm-5 p-2 m-2"  type="button">< Policy</button> -->
						<div class="col-sm-5 p-2 m-2">
							<button type="submit" class="btn btn-success ">Save</button>
						</div>
					</div>
					<input type="hidden" value="t" name="beneficiaryForm">
				</form>
			</div>
		</div>
		<!-- <input type="hidden" value="t" name="register" value="true"> -->
	<!-- </form> -->
</div>

	<!-- add person Modal (hidden by default) -->
	<div class="modal fade" id="add-person"  tabindex="-1" aria-labelledby="add-personLabel" aria-hidden="true">
		<form id="addMemberForm">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="add-personLabel">Add Person</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<fieldset class="row p-3">
							<!-- <legend>Beneficiary Nomination</legend> -->
							<div class="row">
									<div class="row">
											<div class="form-group col-md-2">
													<label for="memberTitle">Title</label>
													<!-- <input class="form-control" type="text" id="memberTitle" name="memberTitle" placeholder="Title"> -->
													<select class="form-select" name="memberTitle" id="memberTitle" aria-label="Title" required>
														<option selected disabled value="">Select Tittle</option>
														<option value="mr">Mr</option>
														<option value="ms">Ms.</option>
														<option value="mrs">Mrs</option>
													</select>
											</div>
											<div class="form-group col-md-4">
													<label for="memberSurname">Surname</label>
													<input class="form-control" type="text" id="memberSurname" name="memberSurname" placeholder="Surname">
											</div>
											<div class="form-group col-md-4">
													<label for="memberName">First Name</label>
													<input class="form-control" type="text" id="memberName" name="memberName" placeholder="Name">
											</div>
											<div class="form-group col-md-2">
													<label for="memberInitials">Initials</label>
													<input class="form-control" type="text" id="memberInitials" name="memberInitials" placeholder="Initials">
											</div>
									</div>
									<div class="form-group col">
											<label for="relationship">Relationship to Member</label>
											<input class="form-control" type="text" id="relationship" name="relationship" placeholder="Relationship">
									</div>
									<div class="row">
											<div class="form-group col-12">
													<label for="memberBirth">Date of Birth</label>
													<input class="form-control" type="date" id="memberBirth" name="memberBirth" placeholder="Date">
											</div>
											<div class="form-group col-12">
													<label for="Phone">Phone Number</label>
													<input class="form-control" type="text" id="phone" name="phone" placeholder="Phone">
											</div>
									</div>
							</div>
							<input type="hidden" value="" name="policy" id="memberPolicy">
							<input type="hidden" value="t" name="addMemberForm" id="addMemberForm">
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="dismissModal">Close</button>
						<button type="submit" class="btn btn-primary">Add Member</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
	const showMessage = $('#showMessage');
	let loadUser = (user) => {
		if (user.name) {
		$('#userboard').html(
			`<div class="accordion accordion-flush m-3 shadow" id="userInfo-accordionFlush">
				<div class="accordion-item">
					<h2 class="accordion-header border border-1" id="flush-headingOne">
						<button class="accordion-button collapsed row" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							<div class="col">${user.title} ${user.name} ${user.surname} &nbsp;&nbsp;  </div>
							<div class="col">${user.policy} &nbsp &nbsp </div>
							<div class="col">Monthly premium: <b>M${user.policy_payment||  0}.00</b></div>
						</button>
					</h2>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#userInfo-accordionFlush">
						<div class="accordion-body">
							<div class="user row">
								<div class="col-md-3 col-sm-6 col-sm-12">
									<div class="col user.title"> <b>Title:</b> ${user.title}</div>
									<div class="col user.name"> <b>Name:</b> ${user.name}</div>
									<div class="col user.surname"> <b>Surname:</b> ${user.surname}</div>
									<div class="col user.alt_Surname"> <b>Alt_Surname:</b> ${user.alt_Surname}</div>
								</div>
								<div class="col-md-3 col-sm-6 col-sm-12">
									<div class="col user.gender"><b> Gender: </b> ${user.gender || 'N/A' }</div>
									<div class="col user.national_id"><b> National_id: </b> ${user.national_id || 'N/A' }</div>
									<div class="col user.birth"><b> Birth: </b> ${user.birth || 'N/A' }</div>
									<div class="col user.address"><b> Address: </b> ${user.address || 'N/A' }</div>
								</div>
								<div class="col-md-3 col-sm-6 col-sm-12">
									<div class="col user.email"><b>Email: </b>${user.email || 'N/A' }</div>
									<div class="col user.cell_1"><b>Cell_1: </b>${user.cell_1 || 'N/A' }</div>
									<div class="col user.cell_2"><b>Cell_2: </b>${user.cell_2 || 'N/A' }</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>`);
			$('#name').val(user.name)
			$('#surname').val(user.surname)
			$('#altsurname').val(user.alt_Surname)
			$('#nat_id').val(user.national_id)
			$('#birth').val(user.birth)
			$('#address').val(user.address)
			$('#email').val(user.email)
			$('#cell1').val(user.cell_1)
			$('#cell2').val(user.cell_2)
			// select title
			user.title.toLowerCase() == 'mr' ? $('#mr').prop('selected', true): 0;
			user.title.toLowerCase() == 'ms' ? $('#ms').prop('selected', true): 0;
			user.title.toLowerCase() == 'mrs' ? $('#mrs').prop('selected', true): 0;
			// select gender
			user.gender.toLowerCase() == 'm' ? $('#m').prop('selected', true): $('#f').prop('selected', true);
			// select user status
			user.status.toLowerCase() == 'single' ? $('#single').attr('checked', true): 0;
			user.status.toLowerCase() == 'married' ? $('#married').attr('checked', true): 0;
			user.status.toLowerCase() == 'widow' ? $('#widow').attr('checked', true): 0;
			user.status.toLowerCase() == 'separated' ? $('#separated').attr('checked', true): 0;
			user.status.toLowerCase() == 'civil' ? $('#civil').attr('checked', true): 0;
		}
	}

	let setPolicy = (policy) => {
		console.error('set policy ', policy);
		$('#add-personLabel').text(`Add Person ${policy}`);
		$('#memberPolicy').val(`${policy}`);
	}

	let displayPolicy = (policies) => {
		// console.log('loadPolicy_policies ', policies);
		const policySz = policies.length

		$("#addPersonList").html(`
			<div><ul class="nav nav-pills mb-3" id="members-pills-tab" role="tablist"></ul>
			<div class="tab-content" id="members-pills-tabContent"></div></div>`);

		for (let i = 0; i < policySz; i++) {
			const policy = policies[i];
			if (i == 0)	{
				$('#members-pills-tab').append(`<li class="nav-item" role="presentation"><button class="nav-link active" id="pills-${policy}-tab" data-bs-toggle="pill" data-bs-target="#pills-${policy}" type="button" role="tab" aria-controls="pills-${policy}" aria-selected="true">${policy}</button></li>`);
				$('#members-pills-tabContent').append(`<div class="tab-pane fade show active" id="pills-${policy}" role="tabpanel" aria-labelledby="pills-${policy}-tab"><button class="btn btn-success " onclick='setPolicy("${policy}")' data-bs-toggle="modal" data-bs-target="#add-person">Add</button></div>`);
			} else {
				$('#members-pills-tab').append(`<li class="nav-item" role="presentation"><button class="nav-link" id="pills-${policy}-tab" data-bs-toggle="pill" data-bs-target="#pills-${policy}" type="button" role="tab" aria-controls="pills-${policy}" aria-selected="false">${policy}</button></li>`);
				$('#members-pills-tabContent').append(`<div class="tab-pane fade" id="pills-${policy}" role="tabpanel" aria-labelledby="pills-${policy}-tab"><button class="btn btn-success " onclick='setPolicy("${policy}")' data-bs-toggle="modal" data-bs-target="#add-person">Add</button></div>`);
			}
		}
	}
let loadMembers = (members, policies) => {
		console.log('members ', members );
		console.log('POLICIES ', policies );
		// console.log('policies ', policies);
		if (members && policies) {
			policies.forEach(policy => {
				$(`#pills-${policy}`).html(`
				<button class="btn btn-success " onclick='setPolicy("${policy}")' data-bs-toggle="modal" data-bs-target="#add-person">Add</button>
						<table class="table table-striped table-bordered">
							<thead class="table-dark">
								<tr>
									<td></td>
									<td>TITLE</td>
									<td>NAME</td>
									<td>SURNAME</td>
									<td>INITIALS</td>
									<td>RELATIONSHIP</td>
									<td>BIRTH DATE</td>
									<td>PHONE NUMBER</td>
									<td></td>
									<td>BENEFICIARY</td>
								</tr>
							</thead>
							<tbody id="cover-persons-list-${policy}">
								<!-- <tr><td colspan="10" class="text-center fs-6">No members added</td></tr> -->
							</tbody>
						</table>
				`); 
			});
	
			console.log('TABLE loaded members ' );

			members.forEach(member => {
				policies.forEach(policy => {
					console.log('memeber.policy == policy' ,member.policy,policy)
					if (member.policy == policy) {
						if (member.beneficiary) {
							$(`#cover-persons-list-${policy}`).append(`<tr>
								<td><button onclick=remove(${member._id}) class="btn btn-sm btn-danger">X</button></td>
								<td>${member.title}</td>
								<td>${member.name}</td>
								<td>${member.surname}</td>
								<td>${member.initials}.</td>
								<td>${member.relationship}</td>
								<td>${member.birth}</td>
								<td>${member.phone}</td>
								<td><button onclick=edit(${member._id}) class="btn btn-primary">Edit</button></td>
								<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="${member._id}" checked><label class="btn btn-outline-warning">B</label></td>
							</tr>`);
						} else {
							$(`#cover-persons-list-${policy}`).append(`<tr>
								<td><button onclick=remove(${member._id}) class="btn btn-sm btn-danger">X</button></td>
								<td>${member.title}</td>
								<td>${member.name}</td>
								<td>${member.surname}</td>
								<td>${member.initials}.</td>
								<td>${member.relationship}</td>
								<td>${member.birth}</td>
								<td>${member.phone}</td>
								<td><button onclick=edit(${member._id}) class="btn btn-primary">Edit</button></td>
								<td><input class="btn btn-outline-warning" type="radio" name="beneficiary" value="${member._id}"><label class="btn btn-outline-warning">B</label></td>
							</tr>`);
						}
					}
				});
			});
		}
	}
	let client = false;
	$('#idintityForm').submit((e) => {
		e.preventDefault();
		let url = '';
		(client) ? url = 'http://172.105.204.217/update-client/': url = 'http://172.105.204.217/register/';
		$.ajax({
			url,
			type: 'POST',
			data: $('#idintityForm').serialize(),
			success: result => {
				console.log('data: ', result);
				console.log('data: ', result.data, !isNaN(result.data));
				// save data
				let msg = '';
				if (result.success) {
					result.msg ? msg = msg = result.msg : msg = 'Policies saved to database';
					if (!isNaN(result.data)) {
						const user_id = `<input type="text" name="tmp_reg_id" value="${result.data}">`;
						window.location.href =('/register/' + result.data);
						$('#addMemberForm').append(user_id);
						$('#idintityForm').append(user_id);
						$('#policyForm').append(user_id);
						$('#beneficiaryForm').append(user_id);
					}
					(result.user) ? loadUser(result.user): 0;

					showMessage.html(`
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<div>${msg}</div>
						</div>`);
				} else {
					result.msg ? msg = msg = result.msg : msg = 'Invalid credentials';
					showMessage.html(`
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<div">${msg}</div>
						</div>`);
				}
				showMessage.show( 2000 );
				setTimeout(() => { showMessage.hide(2000); }, 2500);
			},
			error: e=> console.log('Personal Details Error: \n', e)
		});
	});
	$('#policyForm').submit((e) => {
		e.preventDefault();
		$.ajax({
			url: 'http://172.105.204.217/register/',
			type: 'POST',
			data: $('#policyForm').serialize(),
			success: result =>{
				console.log('#policyForm: ', result);
				let msg = '';
				if (result.success) {
					setTimeout(() => {
					location.reload(); 
				}, 2500);
					result.msg ? msg = msg = result.msg : msg = 'Policies saved to database';
					showMessage.html(`
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<div>${msg}</div>
						</div>`);
				} else {
					result.msg ? msg = msg = result.msg : msg = 'Invalid credentials';
					showMessage.html(`
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<div">${msg}</div>
						</div>`);
				}
				showMessage.show( 2000 );
				setTimeout(() => { showMessage.hide(2000); }, 2500);
			},
			error: e=> console.log('Policy error: ', e)
		});
	});
	$('#beneficiaryForm').submit((e) => {
		e.preventDefault();
		$.ajax({
			url: 'http://172.105.204.217/register/',
			type: 'POST',
			data: $('#beneficiaryForm').serialize(),
			success: data => {
				console.log(`#beneficiaryForm: `, data);
				if (data.success) {
					window.location.href =('/' + data.data);
				} else {
					let msg = '';
					data.msg ? msg = msg = data.msg : msg = 'Invalid credentials';
					showMessage.html(`
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<div">${msg}</div>
						</div>`);
				}
				showMessage.show( 2000 );
				setTimeout(() => {
					showMessage.hide(2000);
				}, 2500);
			},
			error: e=> console.log('Persons on Cover Error: ', e)
		});
	});
	postData = (data, url) => {
		return new Promise((resolve, reject) => {
			$.ajax({
				url, type: 'POST', data, 
				success: data => resolve(data) , 
				error: e => reject(e)
			});
		});
	}
	let remove = (id) => {
		postData({action:'remove', id}.serialize(), '')
		.then(dt => console.log('rm   dt ', dt))
		.catch(e => console.log('Error: '+ e));
	}
	let edit = (id) => {
		postData({action:'edit', id}.serialize(), '')
		.then(dt => console.log('etit dt ', dt))
		.catch(e => console.log('Error: '+ e));
	}
	let setBeneficiary = (id) => {
		postData({action:'setBeneficiary', id}.serialize(), '')
		.then(dt => console.log('ben  dt ', dt))
		.catch(e => console.log('Error: '+ e));
	}
	$('#addMemberForm').submit((e) => {
		e.preventDefault();
		
		postData($('#addMemberForm').serialize(), 'http://172.105.204.217/register/')
		.then(data => {
			console.log('ben  dt ', data);
				if (data.success) {
					let pesrons_list = [];
					let members = data.data;
					// reset form
					console.log('success', members);
					$('#dismissModal').click();
					$('#memberTitle').val('');
					$('#memberSurname').val('');
					$('#memberName').val('');
					$('#memberInitials').val('');
					$('#relationship').val('');
					$('#memberBirth').val('');
					$('#phone').val('');
					console.error(members, members.length);

					let policy = JSON.parse(data.policy);
					console.log('#addMemeber policy: ', members, policy);
					// policy = policy.split(',');
					console.log('#addMemeber policy: ', members, policy);
					// setPolicy(policy);
					loadMembers(members, policy);
				} else {
					console.log('member failed');
					showMessage.html(`
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<div">${data.msg}</div>
						</div>`);
				}
				showMessage.show( 2000 );
				setTimeout(() => { showMessage.hide(2000); }, 2500);
		})
		.catch(e => console.log('Persons on Cover Error: ', e));
	});

	// let loadPersonsOnCover = policies => {}

	let setCheckedPolicy = (policies) => {

		policies.forEach(policy => {
			'<% policyList.forEach(pol => { %>'
				policy == '<%=pol.code%>' ? $("#<%=pol.code%>").attr('checked', true): 0;
			'<% }) %>'
		});
	} 	
		$(document).ready(() => {
			'<% if (polyicyHldr ) { %>'

				// console.log('<%= user %>');
				// console.log('<%= polyicyHldr %>');
				// console.log('<%= members %>');
				// console.log('<%= title %>');
				// console.log('<%= page %>');
				// console.log('polyicyHldr ', typeof(policy), policy);
				const user = JSON.parse('<%- JSON.stringify(polyicyHldr) %>');
				const members = JSON.parse('<%- JSON.stringify(members) %>');
				let policy = user.policy;

				setCheckedPolicy(policy);
				// loadPersonsOnCover(policy);
				loadUser(user);
				
				if (!isNaN(user._id)) {
					const user_id = `<input type="hidden" name="tmp_reg_id" value="${user._id}">`;
					$('#addMemberForm').append(user_id);
					$('#idintityForm').append(`<input type="hidden" id="client_id" name="tmp_reg_id" value="${user._id}">`);
					client = true;
					$('#policyForm').append(user_id);
					$('#beneficiaryForm').append(user_id);
				}
				if (policy && policy.length) {
					console.log(true);
					displayPolicy(policy);
					members && members.length ? loadMembers(members, policy) : $('#persons-cover-tab').click();
				} else {
					console.log(false);
					$('#policy-tab').click();
				}
			'<% } %>'
		});
</script>
<%- include('./frame/footer.ejs') %>